body {
  font-family: sans-serif;
  background-color: #eaf0f7;
}
.formInter {
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  width: 100%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.047);
  margin-left: 0px;
}

input {
  /* margin: 20px; */
  border-radius: 3px;
  border: 1px solid #d8dce1;
  height: 25px;
  width: 300px;
  font-size: 13px;
  margin: 10px;
  margin-top: 3px;
}

.formCell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

label {
  margin-top: 5px;
  margin-left: 20px;
  display: inline-block;
  font-size: 15px;
  text-align: left;
}

.field {
  display: flex;
  flex-direction: column;
}

.containor {
  display: flex;
  flex-direction: column;
  margin-left: 18%;
}

.buttonUpdate {
  position: relative;
  margin: 0px 10px 20px 10px;
  background-color: #4d79f6;
  box-shadow: 0px 0px 2px 0.5px #4d79f668;
  margin-right: 30px;
  height: 35px;
  width: 80px;
  color: white;
  border-radius: 5px;
  font-weight: normal;
  border: none;
  float: right;
}

.buttonUpdate:hover {
  background-color: #225af1;
  box-shadow: 0px 0px 2px 0.5px #4d7af668;
}

.exportButton {
  width: 220px;
  padding: 10px;
  margin-top: 50px;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 0px;
  background-color: #0d98ba;
  color: white;
  border-color: transparent;
}

.exportButton:hover {
  background-color: #2aa6c5;
}

.title {
  margin-top: 50px;
}
