body {
  font-family: sans-serif;
  background-color: #eaf0f7;
}

.interfaceContainer {
  margin-left: 18%;
  display: flex;
  flex-direction: column;
}
.formInter {
  margin-top: 40px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.047);
  max-height: 350px;
  width: 100%;
  margin-left: 0px;
}

input {
  /* margin: 20px; */
  border-radius: 3px;
  border: 1px solid #d8dce1;
  height: 25px;
  width: 300px;
  font-size: 13px;
  margin: 10px;
}

select {
  /* margin: 20px; */
  border-radius: 3px;
  border: 1px solid #d8dce1;
  height: 30px;
  width: 300px;
  font-size: 13px;
  margin: 5px;
}

.formCell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

label {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100px;
  text-align: right;
}
.buttonEnvoyer,
.buttonAnnuler {
  position: relative;
  margin: 0px 10px 20px 10px;

  height: 35px;
  width: 80px;
  color: white;
  border-radius: 5px;
  font-weight: normal;
  border: none;
  float: right;
}

.buttonEnvoyer {
  background-color: #4d79f6;
  box-shadow: 0px 0px 2px 0.5px #4d79f668;
  margin-right: 30px;
}

.buttonEnvoyer:hover {
  background-color: #225af1;
  box-shadow: 0px 0px 2px 0.5px #4d7af668;
}

.buttonAnnuler {
  background-color: #f1646c;
  box-shadow: 0px 0px 2px 0.5px #f1646b75;
}
.buttonAnnuler:hover {
  background-color: #ee434b;
  box-shadow: 0px 0px 2px 0.5px #f1646b75;
}

.title {
  margin-top: 50px;
}

thead {
  position: sticky;
  top: 0;
}

tbody > tr > :nth-child(6),
tbody > tr > :nth-child(7) {
  color: #ee434b;
  width: 200px;
  text-align: center;
  font-weight: bold;
}

tbody > tr > :nth-child(1),
tbody > tr > :nth-child(2),
tbody > tr > :nth-child(3),
tbody > tr > :nth-child(4),
tbody > tr > :nth-child(5) {
  width: 200px;
  text-align: center;
  font-weight: bold;
}

tbody > tr > :nth-child(8),
tbody > tr > :nth-child(9) {
  width: 200px;
  text-align: center;
  font-weight: bold;
}
tbody > tr > :nth-child(13),
tbody > tr > :nth-child(14) {
  color: #ee434b;
  width: 200px;
  text-align: center;
  font-weight: bold;
}

tbody > tr > :nth-child(10) {
  color: #1ea05b;
  width: 200px;
  text-align: center;
  font-weight: bold;
}
tbody > tr > :nth-child(11),
tbody > tr > :nth-child(12) {
  color: rgb(17, 132, 254);
  width: 200px;
  text-align: center;
  font-weight: bold;
}

tbody > tr > :nth-child(15),
tbody > tr > :nth-child(16) {
  color: #1ea05b;
  width: 200px;
  text-align: center;
  font-weight: bold;
}

tbody > tr > :nth-child(17),
tbody > tr > :nth-child(18),
tbody > tr > :nth-child(20),
tbody > tr > :nth-child(19) {
  width: 200px;
  text-align: center;
  font-weight: bold;
}
/* 
tbody > tr > :nth-child(7) {
  font-weight: bold;
  color: red;
  width: 200px;
  text-align: center;
} */
