.body {
  margin: 0%;
}
.navBar {
  margin-top: 0px;
  position: fixed;
  background-color: lightblue;
  height: 100%;
  width: 16%;
  margin-right: 0px;
}

li {
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
