.body {
  margin: 0%;
}
.navBar {
  font-size: 18px;
  margin-top: 0px;
  position: fixed;
  background: linear-gradient(180deg, #027daa 27%, #0097ce 58%);
  height: 100%;
  width: 16%;
  margin-right: 0px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  align-items: center;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  margin: 5px;
  margin-right: 0px;
  margin-left: -40px;
  text-align: center;
}

li:hover {
  background-color: #056b90;
}

.link {
  color: white;
  text-decoration: none;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
}

.imgNav {
  margin-top: 5px;
  width: 100px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 60px;
  margin-bottom: 50px;
}
